<!--
   Auth0.plist
   rollcall

   Created by Samantha Eboli on 1/23/19.
   Copyright (c) 2019 Samantha Eboli. All rights reserved.
-->
<!-- Auth0.plist -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ClientId</key>
        <string>Fiagt7L2Dt1mS51aFxAq1XlAr6thlimm</string>
        <key>Domain</key>
        <string>rollcall-app.auth0.com</string>
    </dict>
</plist>
